/*--### Colors ###--*/
$primary: #faa71b;
$secondary: #24acde;

$dark: rgba(0, 0, 0, 0.9);
$black: #23314f;
$white: #ffffff;

$grey: #e8edf2;
$btn-grey: #e5e5e5;

/*--### Font Family ###--*/
$body-font: "Roboto", sans-serif;
$heading-font: "Teko", sans-serif;
